<img class="card-img-top" 
  [src]="album.images[0].url">

<div class="card-body">
  <h5 class="card-title" [routerLink]="['album', album.id]" routerLinkActive="active" >

    <!-- <input type="range" max="40" 
      (input)="len = $event.target.value"> -->

    {{album.name | shorten: 20  }}
    <!-- {{album.release_date | date:'MM-dd-YYYY' }} -->
  </h5>
</div>


<!-- placeholder.com -->
<!-- placecage.com -->
<!-- place-hoff.com -->
<!-- placekitten.com -->
