<div class="form-group mb-3" [formGroup]="queryForm">

  <input type="text" class="form-control" placeholder="Search" formControlName="query">

  <div *ngIf="queryForm.pending">
    Please wait... validating...
  </div>

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty">

      <div *ngIf="field.hasError('required')">
        Field is required
      </div>

      <div *ngIf="field.getError('minlength') as error ">
        Field minimum length is {{ error.requiredLength }}
      </div>

      <div *ngIf="field.getError('censor') as error ">
        Cannot include words "{{error.badword}}"
      </div>

    </ng-container>

  </ng-container>

  <!-- <form-feedback [field]="queryForm.get('query')">
    <div *ngIf="field.hasError('extra-special')">
      Field is required
    </div>
  </form-feedback> -->





</div>
