<div class="row" *ngIf="album$ | async as album">
  <div class="col">
    <app-album-card [album]="album">
    </app-album-card>

  </div>
  <div class="col">
    <audio #player controls="true"></audio>

    <app-items-list [items]="album.tracks.items"
    [(selected)]="selected"
    (selectedChange)="player.src = $event.preview_url; player.play()">
    </app-items-list>
    

  </div>
</div>