<!-- https://getbootstrap.com/docs/4.1/components/navbar/#nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" #routerLinkRef="routerLinkActive" [routerLinkActiveOptions]="{exact:true}"
      routerLink="/">Music App </a>
    <!-- {{routerLinkRef.isActive}} -->

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/','music']">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/playlists">Playlists</a>
        </li>
        
        <li class="nav-item" routerLinkActive
            #rla="routerLinkActive"
            [hidden]="rla.isActive">
          <a [routerLink]="['./',{
            outlets: {popup:  ['placki'] }
          }]" class="nav-link"> Open Popup</a>
        </li>

        <li class="nav-item" 
        [hidden]="!rla.isActive">
          <a [routerLink]="['./',{
            outlets: {popup: null }
          }]" class="nav-link"> Close Popup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>


    </div>
  </div>
</div>

<div style="position: absolute; bottom:20%; left:25%;background: lightgray; right:25%; padding:20px;"
[hidden]="!popup.isActivated">

  <router-outlet name="popup" #popup="outlet"></router-outlet>
</div>
