:host-context(.theme-pink) p {
  color: hotpink;
}

:host(.bordered) {
  border: 1px solid black;
  display: block;
}

.list-group-item{
  border-left:10px solid;
}

/* 
:host ::ng-deep p {
  color: hotpink;
} 
*/
