<!-- 
      [style.border-left-color]="hover == playlist? playlist.color : ''"
      (mouseenter)="hover = playlist"
      (mouseleave)="hover = null" 
-->

<div class="list-group">

  <div class="list-group-item" 
      [class.active]=" playlist.id == selected?.id "

       [appHighlight]=" playlist.color " 
 
      (click)="select(playlist)"
      *ngFor="let playlist of playlists; index as i; trackBy trackFn">

    {{i+1}} - {{playlist.name}}
  </div>

</div>
