<ul class="nav nav-tabs">
  <li class="nav-item" 
    *ngFor=" let tab of tabs" (click)="tab.toggle()">
    <a class="nav-link" 
    [class.active]="tab.open">
      {{tab.title}}
    </a>
  </li>

</ul>
