<div [ngSwitch]="mode">


  <div *ngSwitchDefault>

    <app-card>

      <ng-container class="title">
        {{playlist.name}}
        <span class="close" (click)="cancel()">
          &times;
        </span>
      </ng-container>

      <dl [title]="playlist.name" [attr.data-id]="playlist.id">
        <dt>Name:</dt>
        <dd>{{playlist.name}}</dd>

        <dt>Favourite:</dt>
        <dd>
          {{playlist.favourite? 'Yes':'No'}}
        </dd>

        <dt>Color:</dt>
        <dd [style.color]="playlist.color" [ngStyle]="{
                'background-color': playlist.color,
                borderBottom: '1px solid black'
              }">
          {{playlist.color}}
        </dd>
      </dl>

      <ng-container ngProjectAs="footer">

        <input type="button" value="Edit" (click)="edit()" class="btn btn-info">
      </ng-container>


    </app-card>


  </div>

  <div *ngSwitchCase=" 'edit' ">

    <form #formRef="ngForm" (ngSubmit)=" save(formRef)">

      <app-card>

        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" [ngModel]="playlist.name" name="name">
        </div>

        <div class="form-group">
          <label>Favourite:</label>
          <input type="checkbox" [ngModel]="playlist.favourite" name="favourite">
        </div>

        <div class="form-group">
          <label>Color:</label>
          <input type="color" [ngModel]="playlist.color" name="color">
        </div>

        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-danger" ngProjectAs="footer">

        <input type="submit" value="Save" class="btn btn-success" ngProjectAs="footer">

      </app-card>

    </form>

  </div>


</div>
